<noscript>
<div class="browser-error">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p>
					{{t 'This page requires Java script to display all functions correctly.'}}
				</p>
			</div>
		</div>
	</div>
</div>
</noscript>