<textarea
  name={{this.name}}
  {{editor config=@options content=(if @value @value '') onEditorContentChange=(action 'onChange')}}
></textarea>

{{#if (or (and this.showElementMessage (not this.isElementValid)) (and this.showMessage (not this.isElementValid)))}}
    <div class="errors-list">
        {{this.errorMessage}}
    </div>
{{/if}}    