 <div class="input-group">
    {{input
        type=type
        class=class
        id=viewId
        name=name
        placeholder=placeholder
        value=value
        key-up=(action "keyUp")
        }}
    <span class="input-group-addon password-generator" {{action refreshPassword}}>
        <i class="fas fa-sync-alt"></i>
    </span>
    <span class="input-group-addon password-options-btn " {{action showPasswordGeneratorOption}}>
        <i class="fas fa-cog"></i>
    </span>
</div>
{{#if (or (and showElementMessage (not isElementValid)) (and showMessage (not isElementValid)))}}
    <div class="errors-list">
        {{errorMessage}}
    </div>
{{/if}}