<textarea
  name={{name}}
  {{editor config=@options content=(if @value @value '') onEditorContentChange=(action 'onChange')}}
></textarea>

{{#if (or (and showElementMessage (not isElementValid)) (and showMessage (not isElementValid)))}}
    <div class="errors-list">
        {{errorMessage}}
    </div>
{{/if}}    