{{#if foldersController.searchResults.hasResults}} 
    <main class='main-password'>
    </main>
{{else}}
    {{password/password-list
        passwords=passwords
        folderId=folderId
        folder=model.folder
        selectFolder=selectFolder
        canAccessAllFolders=model.canAccessAllFolders
        tagName=''
        showPasswordsList=(action 'showPasswordsList')
        hidePasswordsList=(action 'hidePasswordsList')
        showList=showList
    }}
    <main class='main-password'>
        {{outlet}}
    </main>
{{/if}}