{{#if foldersController.searchResults.hasResults}}
    <main class="main-password">
    </main>
{{else}}
    {{password/password-list
        showPasswordsList=(action 'showPasswordsList')
        hidePasswordsList=(action 'hidePasswordsList')
        showList=showList
    }}
    <main class="main-password">
        {{outlet}}
    </main>
{{/if}}