<div class="error-page">
    <i class="far fa-meh-rolling-eyes"></i>
    <h1>
        {{t 'Sorry, something went wrong.'}}
    </h1>
    <LinkTo @route="folders">
        {{t "go to Password Cockpit's home page"}}
    </LinkTo>
</div>