<div class="error-page">
    <i class="far fa-meh-rolling-eyes"></i>
    <h1>
        {{t 'Sorry, something went wrong.'}}
    </h1>
    {{#link-to 'folders'}}
        {{t "go to Password Cockpit's home page"}}
    {{/link-to}}
</div>