<User::UserList @users={{users}} />
<main class="main-user">
    {{outlet}}
</main>
<script>
    // temp
    $(function () {
        $('.navbar-top-links .manage-users').addClass('active');
    });
</script>